="Dear #{h @user.firstname}, welcome to RescueFinder."
%br
%p
  We're sorry that you're experiencing a time of fear and uncertainty, but it's our sincere desire to do everything
  we can to help you get information about your loved ones.  As soon as we have any news, we will contact you at this
  email address and let you know how to access that information.
%p
  Our goal is to make it easier for rescue workers and aid workers to get in contact with you to give you news.  There
  are several organizations involved in any disaster relief effort and it can be difficult for them to coordinate
  information about who has been found, where they are, and what their condition is.  We're attempting to provide all
  of these organizations with a simple way to coordinate information and reach out to you, who are waiting for news.
%p
  If we do get some information, we will email you to let you know to log in to retrieve contact information.  We will
  tell you which organization has information and how to contact them.  We know it's tempting to check the website
  every minute of every day, but please keep in mind that there are many other people looking for information as well,
  and try to limit your use to the occasional check and/or updating profile information on your loved ones.
%p
  Should you have an idea of how we can better assist you, please use the contact form on our site and select the
  appropriate category ('Suggestions').
%p
  We hope to bring you information soon,
  %br
  %br
  The RescueFinder team
  %br
  =h @url
