="Dear #{h @user.firstname}, welcome to DEFAULT SITE TEMPLATE -- CONFIGURE ME!!!"
%br
%p
  We'd like to take this opportunity to welcome you and to BLAH BLAH BLAH
%p
  Sincerely,
  %br
  The DEFAULT SITE TEMPLATE team
  %br
  =h @url
