/* -------------------------------------------------------------------------------------------------

Load this stylesheet after formtastic.css in your layouts to override the CSS to suit your needs.
This will allow you to update formtastic.css with new releases without clobbering your own changes.

For example, to make the inline hint paragraphs a little darker in color than the standard #666:

form.formtastic fieldset ol li p.inline-hints { color:#333; }

--------------------------------------------------------------------------------------------------*/

form.formtastic fieldset.inputs,  form.formtastic fieldset.buttons{
	margin:30px;
}
form.formtastic fieldset.buttons {
	padding-left:0px;
	border:0;
}
form.formtastic fieldset.inputs{
	border: 6px solid #aaa;
}

form.formtastic fieldset,  form.formtastic fieldset legend{
	font-size:15px;
}

form.formtastic fieldset legend span{
	display:block;
	width: 25%;
	text-align:left;
}
form.formtastic {
	font-family: Verdana, tahoma, sans-serif;
}

form.formtastic fieldset label {
	text-align:left;
	margin-right:7px;
}

form.formtastic fieldset ol li select {
	margin-left:21px;
	margin-top:-8px;
}
form.formtastic fieldset ol li input[type=text],
form.formtastic fieldset ol li.text textarea,
form.formtastic fieldset ol li input[type=password]{
	width:400px;
	padding:5px;
	border:1px solid black;
}

form.formtastic fieldset ol li input[type=radio] {
	margin-left:21px;
	vertical-align:top;
}
form.formtastic fieldset .inline-hints {
	text-align:left;
	font-size:14px;
	padding-left:21px;
	padding-bottom:10px;
}

form.formtastic fieldset fieldset {
	border:none;
	padding:0px;
	
}