/* line 4, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* line 12, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* line 16, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" ""; }
  /* line 42, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
  blockquote:before, q:before,
  blockquote:after, q:after {
    content: ""; }

/* line 18, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 20, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle; }

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
a img {
  border: none; }

/* line 10, ../../app/stylesheets/screen.sass */
body.styled {
	background: #0082ca url(../images/cloudtop.jpg) left top repeat-x;
  font-family: Georgia, Times New Roman, Times, serif;
  font-size: 10pt; }
  /* line 15, ../../app/stylesheets/partials/_styling.sass */
  body.styled h1 {
    font-size: 3em; }
  /* line 17, ../../app/stylesheets/partials/_styling.sass */
  body.styled h2 {
    font-size: 2.5em; }
  /* line 19, ../../app/stylesheets/partials/_styling.sass */
  body.styled h3 {
    font-size: 2.2em; }
  /* line 21, ../../app/stylesheets/partials/_styling.sass */
  body.styled h4 {
    font-size: 2em; }
  /* line 23, ../../app/stylesheets/partials/_styling.sass */
  body.styled h5 {
    font-size: 1.75em; }
  /* line 25, ../../app/stylesheets/partials/_styling.sass */
  body.styled h6 {
    font-size: 1.5em; }
  /* line 9, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_utilities.sass */
  body.styled .clear {
    clear: both; }
  /* line 12, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_utilities.sass */
  body.styled .nowrap {
    white-space: nowrap; }
  /* line 16, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_utilities.sass */
  body.styled .clearfix {
    overflow: hidden;
    display: inline-block; }
    /* line 5, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
    body.styled .clearfix {
      display: block; }
  /* line 18, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_utilities.sass */
  body.styled .small {
    font-size: .8em;
    margin-bottom: 1.875em;
    line-height: 1.875em; }
  /* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_utilities.sass */
  body.styled .large {
    font-size: 1.2em;
    line-height: 2.5em;
    margin-bottom: 1.25em; }
  /* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_utilities.sass */
  body.styled .first {
    margin-left: 0;
    padding-left: 0; }
  /* line 29, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_utilities.sass */
  body.styled .last {
    margin-right: 0;
    padding-right: 0; }
  /* line 32, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_utilities.sass */
  body.styled .top {
    margin-top: 0;
    padding-top: 0; }
  /* line 35, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_utilities.sass */
  body.styled .bottom {
    margin-bottom: 0;
    padding-bottom: 0; }
  /* line 7, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_debug.sass */
  body.styled .showgrid {
    background: url('/images/grid.png?1263447780'); }
  /* line 5, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
  body.styled .error {
    padding: .8em;
    margin-bottom: 1em;
    border: 2px solid #dddddd;
    background: #fbe3e4;
    color: #8a1f11;
    border-color: #fbc2c4; }
    /* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
    body.styled .error a {
      color: #8a1f11; }
  /* line 7, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
  body.styled .notice {
    padding: .8em;
    margin-bottom: 1em;
    border: 2px solid #dddddd;
    background: #fff6bf;
    color: #514721;
    border-color: #ffd324; }
    /* line 38, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
    body.styled .notice a {
      color: #514721; }
  /* line 9, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
  body.styled .success {
    padding: .8em;
    margin-bottom: 1em;
    border: 2px solid #dddddd;
    background: #e6efc2;
    color: #264409;
    border-color: #c6d880; }
    /* line 46, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
    body.styled .success a {
      color: #264409; }
  /* line 11, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
  body.styled .hide {
    display: none; }
  /* line 13, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
  body.styled .highlight {
    background: yellow; }
  /* line 15, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
  body.styled .added {
    background: #006600;
    color: white; }
  /* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
  body.styled .removed {
    background: #990000;
    color: white; }
  /* line 15, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
  body.styled form label {
    font-weight: bold; }
  /* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
  body.styled form fieldset {
    padding: 1.4em;
    margin: 0 0 1.5em 0; }
  /* line 20, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
  body.styled form legend {
    font-weight: bold;
    font-size: 1.2em; }
  /* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
  body.styled form input.text, body.styled form input.title, body.styled form input[type=text] {
    margin: 0.5em 0;
    background-color: #fff;
    padding: 5px; }
  /* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
  body.styled form input.title {
    font-size: 1.5em; }
  /* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
  body.styled form input[type=checkbox], body.styled form input.checkbox,
  body.styled form input[type=radio], body.styled form input.radio {
    position: relative;
    top: 0.25em; }
  /* line 34, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
  body.styled form textarea {
    margin: 0.5em 0;
    padding: 5px; }
  /* line 37, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
  body.styled form select {
    margin: 0.5em 0; }
  /* line 48, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
  body.styled form fieldset {
    border: 1px solid #cccccc; }
  /* line 50, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
  body.styled form input.text, body.styled form input.title,
  body.styled form textarea,
  body.styled form select {
    border: 1px solid #bbbbbb; }
    /* line 54, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
    body.styled form input.text:focus, body.styled form input.title:focus,
    body.styled form textarea:focus,
    body.styled form select:focus {
      border: 1px solid #666666; }
  /* line 41, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
  body.styled form input.text, body.styled form input.title {
    width: 300px; }
  /* line 43, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
  body.styled form textarea {
    width: 390px;
    height: 250px; }
  /* line 20, ../../app/stylesheets/screen.sass */
  body.styled #container {
    width: 950px;
    margin: 0 auto;
    overflow: hidden;
    display: inline-block; }
    /* line 5, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
    body.styled #container {
      display: block; }
  /* line 22, ../../app/stylesheets/screen.sass */
  body.styled #header {
    display: inline;
    float: left;
    margin-right: 10px;
    width: 950px;
    font-variant: small-caps;
    margin-bottom: 5px; 
		height:150px;
		}

	body.styled #header img {
		width: 110px;
		height:110px;
		vertical-align:bottom;
		float:left;
		border:1px solid black;
		margin-right:10px;
	}
	
	body.styled #header h2 {
		font-size:80px;
		font-family:Verdana, arial, sans-serif;
		font-weight:bolder;
		padding-top:10px;
	}
	
  /* line 101, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
  * html body.styled #header {
    overflow-x: hidden; }
  /* line 27, ../../app/stylesheets/screen.sass */
  body.styled #identityarea {
    display: inline;
    float: left;
    margin-right: 10px;
    width: 750px;
    margin-top: 5px; }
    /* line 101, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
    * html body.styled #identityarea {
      overflow-x: hidden; }
  /* line 30, ../../app/stylesheets/screen.sass */
  body.styled #usernav {
    display: inline;
    float: right;
    margin-right: 0;
    width: 250px;
    border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    background-color: white;
    text-align: center;
		font-family: Verdana, arial, sans-serif;
    padding-bottom: 5px; 
		font-size:16px;
		border-style:solid;
		border-color:#036;
		border-width:7px;
		border-top:0;}
		
    /* line 101, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
    * html body.styled #usernav {
      overflow-x: hidden; }
  /* line 36, ../../app/stylesheets/screen.sass */
  body.styled #footer {
    display: inline;
    float: left;
    margin-right: 10px;
    width: 950px;
    background-color: white;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    margin-top: 10px;
    font-variant: small-caps; }
    /* line 101, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
    * html body.styled #footer {
      overflow-x: hidden; }
  /* line 42, ../../app/stylesheets/screen.sass */
  body.styled #livearea {
    display: inline;
    float: left;
    margin-right: 10px;
    width: 950px;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    background-color: white; }
    /* line 101, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
    * html body.styled #livearea {
      overflow-x: hidden; }
  /* line 46, ../../app/stylesheets/screen.sass */
  body.styled #sidebar {
    display: inline;
    float: left;
    margin-right: 0;
    width: 230px;
    font-variant: small-caps;
    background: white;
    border-top-right-radius: 7px;
    -moz-border-radius-topright: 7px;
    -webkit-border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    -moz-border-radius-bottomright: 7px;
    -webkit-border-bottom-right-radius: 7px;
    height: 100%;
    min-height: 100%; }
    /* line 101, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
    * html body.styled #sidebar {
      overflow-x: hidden; }
  /* line 53, ../../app/stylesheets/screen.sass */
  body.styled #content {
    display: inline;
    float: left;
    margin-right: 10px;
    width: 710px;
    background: white;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; }
    /* line 101, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
    * html body.styled #content {
      overflow-x: hidden; }
  /* line 57, ../../app/stylesheets/screen.sass */
  body.styled .nest {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; }