html, body { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, pre, a, abbr, acronym, address, code, del, dfn, em, img, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

blockquote, q { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; quotes: "" ""; }
blockquote:before, q:before, blockquote:after, q:after { content: ""; }

th, td, caption { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; text-align: left; font-weight: normal; vertical-align: middle; }

table { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; border-collapse: separate; border-spacing: 0; vertical-align: middle; }

a img { border: none; }

.boxcol { display: inline; float: left; margin-right: 10px; width: 190px; }
* html .boxcol { overflow-x: hidden; }

.colbox_base { padding: 1em; margin-bottom: 1em; display: inline; float: left; margin-right: 10px; width: 110px; background-color: #55aadd; color: black; }
* html .colbox_base { overflow-x: hidden; }
.colbox_base h2 { color: #fff; }

.colbox_support { padding: 1em; margin-bottom: 1em; display: inline; float: left; margin-right: 10px; width: 110px; background-color: #dd55aa; color: black; }
* html .colbox_support { overflow-x: hidden; }
.colbox_support h2 { color: #fff; }

.colbox_accent { padding: 1em; margin-bottom: 1em; display: inline; float: left; margin-right: 10px; width: 110px; background-color: #aadd55; color: black; }
* html .colbox_accent { overflow-x: hidden; }
.colbox_accent h2 { color: #fff; }

.colbox_dark_base { padding: 1em; margin-bottom: 1em; display: inline; float: left; margin-right: 10px; width: 110px; background-color: #2686bf; color: white; }
* html .colbox_dark_base { overflow-x: hidden; }
.colbox_dark_base h2 { color: #fff; }

.colbox_darker_base { padding: 1em; margin-bottom: 1em; display: inline; float: left; margin-right: 10px; width: 110px; background-color: #195980; color: white; }
* html .colbox_darker_base { overflow-x: hidden; }
.colbox_darker_base h2 { color: #fff; }

.colbox_darkest_base { padding: 1em; margin-bottom: 1em; display: inline; float: left; margin-right: 10px; width: 110px; background-color: #0d2d40; color: white; }
* html .colbox_darkest_base { overflow-x: hidden; }
.colbox_darkest_base h2 { color: #fff; }

.colbox_light_base { padding: 1em; margin-bottom: 1em; display: inline; float: left; margin-right: 10px; width: 110px; background-color: #7fbfe6; color: black; }
* html .colbox_light_base { overflow-x: hidden; }
.colbox_light_base h2 { color: #fff; }

.colbox_lighter_base { padding: 1em; margin-bottom: 1em; display: inline; float: left; margin-right: 10px; width: 110px; background-color: #aad5ee; color: black; }
* html .colbox_lighter_base { overflow-x: hidden; }
.colbox_lighter_base h2 { color: #fff; }

.colbox_lightest_base { padding: 1em; margin-bottom: 1em; display: inline; float: left; margin-right: 10px; width: 110px; background-color: #d4eaf7; color: black; }
* html .colbox_lightest_base { overflow-x: hidden; }
.colbox_lightest_base h2 { color: #fff; }

.colbox_dark_support { padding: 1em; margin-bottom: 1em; display: inline; float: left; margin-right: 10px; width: 110px; background-color: #bf2686; color: white; }
* html .colbox_dark_support { overflow-x: hidden; }
.colbox_dark_support h2 { color: #fff; }

.colbox_darker_support { padding: 1em; margin-bottom: 1em; display: inline; float: left; margin-right: 10px; width: 110px; background-color: #801959; color: white; }
* html .colbox_darker_support { overflow-x: hidden; }
.colbox_darker_support h2 { color: #fff; }

.colbox_darkest_support { padding: 1em; margin-bottom: 1em; display: inline; float: left; margin-right: 10px; width: 110px; background-color: #400d2d; color: white; }
* html .colbox_darkest_support { overflow-x: hidden; }
.colbox_darkest_support h2 { color: #fff; }

.colbox_light_support { padding: 1em; margin-bottom: 1em; display: inline; float: left; margin-right: 10px; width: 110px; background-color: #e67fbf; color: black; }
* html .colbox_light_support { overflow-x: hidden; }
.colbox_light_support h2 { color: #fff; }

.colbox_lighter_support { padding: 1em; margin-bottom: 1em; display: inline; float: left; margin-right: 10px; width: 110px; background-color: #eeaad4; color: black; }
* html .colbox_lighter_support { overflow-x: hidden; }
.colbox_lighter_support h2 { color: #fff; }

.colbox_lightest_support { padding: 1em; margin-bottom: 1em; display: inline; float: left; margin-right: 10px; width: 110px; background-color: #f7d4ea; color: black; }
* html .colbox_lightest_support { overflow-x: hidden; }
.colbox_lightest_support h2 { color: #fff; }

.colbox_dark_accent { padding: 1em; margin-bottom: 1em; display: inline; float: left; margin-right: 10px; width: 110px; background-color: #86bf26; color: white; }
* html .colbox_dark_accent { overflow-x: hidden; }
.colbox_dark_accent h2 { color: #fff; }

.colbox_darker_accent { padding: 1em; margin-bottom: 1em; display: inline; float: left; margin-right: 10px; width: 110px; background-color: #598019; color: white; }
* html .colbox_darker_accent { overflow-x: hidden; }
.colbox_darker_accent h2 { color: #fff; }

.colbox_darkest_accent { padding: 1em; margin-bottom: 1em; display: inline; float: left; margin-right: 10px; width: 110px; background-color: #2d400d; color: white; }
* html .colbox_darkest_accent { overflow-x: hidden; }
.colbox_darkest_accent h2 { color: #fff; }

.colbox_light_accent { padding: 1em; margin-bottom: 1em; display: inline; float: left; margin-right: 10px; width: 110px; background-color: #bfe67f; color: black; }
* html .colbox_light_accent { overflow-x: hidden; }
.colbox_light_accent h2 { color: #fff; }

.colbox_lighter_accent { padding: 1em; margin-bottom: 1em; display: inline; float: left; margin-right: 10px; width: 110px; background-color: #d4eeaa; color: black; }
* html .colbox_lighter_accent { overflow-x: hidden; }
.colbox_lighter_accent h2 { color: #fff; }

.colbox_lightest_accent { padding: 1em; margin-bottom: 1em; display: inline; float: left; margin-right: 10px; width: 110px; background-color: #eaf7d4; color: black; }
* html .colbox_lightest_accent { overflow-x: hidden; }
.colbox_lightest_accent h2 { color: #fff; }

body.styled { background-color: #aad5ee; font-family: Georgia, Times New Roman, Times, serif; font-size: 10pt; }
body.styled h1 { font-size: 3em; }
body.styled h2 { font-size: 2.5em; }
body.styled h3 { font-size: 2.2em; }
body.styled h4 { font-size: 2em; }
body.styled h5 { font-size: 1.75em; }
body.styled h6 { font-size: 1.5em; }
body.styled .clear { clear: both; }
body.styled .nowrap { white-space: nowrap; }
body.styled .clearfix { overflow: hidden; display: inline-block; }
body.styled .clearfix { display: block; }
body.styled .small { font-size: .8em; margin-bottom: 1.875em; line-height: 1.875em; }
body.styled .large { font-size: 1.2em; line-height: 2.5em; margin-bottom: 1.25em; }
body.styled .first { margin-left: 0; padding-left: 0; }
body.styled .last { margin-right: 0; padding-right: 0; }
body.styled .top { margin-top: 0; padding-top: 0; }
body.styled .bottom { margin-bottom: 0; padding-bottom: 0; }
body.styled .showgrid { background: url('/images/grid.png?1263447780'); }
body.styled .error { padding: .8em; margin-bottom: 1em; border: 2px solid #dddddd; background: #fbe3e4; color: #8a1f11; border-color: #fbc2c4; }
body.styled .error a { color: #8a1f11; }
body.styled .notice { padding: .8em; margin-bottom: 1em; border: 2px solid #dddddd; background: #fff6bf; color: #514721; border-color: #ffd324; }
body.styled .notice a { color: #514721; }
body.styled .success { padding: .8em; margin-bottom: 1em; border: 2px solid #dddddd; background: #e6efc2; color: #264409; border-color: #c6d880; }
body.styled .success a { color: #264409; }
body.styled .hide { display: none; }
body.styled .highlight { background: yellow; }
body.styled .added { background: #006600; color: white; }
body.styled .removed { background: #990000; color: white; }
body.styled form label { font-weight: bold; }
body.styled form fieldset { padding: 1.4em; margin: 0 0 1.5em 0; }
body.styled form legend { font-weight: bold; font-size: 1.2em; }
body.styled form input.text, body.styled form input.title, body.styled form input[type=text] { margin: 0.5em 0; background-color: #fff; padding: 5px; }
body.styled form input.title { font-size: 1.5em; }
body.styled form input[type=checkbox], body.styled form input.checkbox, body.styled form input[type=radio], body.styled form input.radio { position: relative; top: 0.25em; }
body.styled form textarea { margin: 0.5em 0; padding: 5px; }
body.styled form select { margin: 0.5em 0; }
body.styled form fieldset { border: 1px solid #cccccc; }
body.styled form input.text, body.styled form input.title, body.styled form textarea, body.styled form select { border: 1px solid #bbbbbb; }
body.styled form input.text:focus, body.styled form input.title:focus, body.styled form textarea:focus, body.styled form select:focus { border: 1px solid #666666; }
body.styled form input.text, body.styled form input.title { width: 300px; }
body.styled form textarea { width: 390px; height: 250px; }
body.styled #container { width: 950px; margin: 0 auto; overflow: hidden; display: inline-block; }
body.styled #container { display: block; }
body.styled #header { display: inline; float: left; margin-right: 10px; width: 950px; background-color: #aad5ee; font-variant: small-caps; margin-bottom: 5px; }
* html body.styled #header { overflow-x: hidden; }
body.styled #identityarea { display: inline; float: left; margin-right: 10px; width: 750px; margin-top: 5px; }
* html body.styled #identityarea { overflow-x: hidden; }
body.styled #usernav { display: inline; float: left; margin-right: 0; width: 190px; border-bottom-right-radius: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; background-color: white; text-align: center; padding-bottom: 2px; }
* html body.styled #usernav { overflow-x: hidden; }
body.styled #footer { display: inline; float: left; margin-right: 10px; width: 950px; background-color: white; border-radius: 7px; -moz-border-radius: 7px; -webkit-border-radius: 7px; margin-top: 10px; font-variant: small-caps; }
* html body.styled #footer { overflow-x: hidden; }
body.styled #livearea { display: inline; float: left; margin-right: 10px; width: 950px; border-radius: 7px; -moz-border-radius: 7px; -webkit-border-radius: 7px; background-color: white; }
* html body.styled #livearea { overflow-x: hidden; }
body.styled #sidebar { display: inline; float: left; margin-right: 0; width: 230px; font-variant: small-caps; background: white; border-top-right-radius: 7px; -moz-border-radius-topright: 7px; -webkit-border-top-right-radius: 7px; border-bottom-right-radius: 7px; -moz-border-radius-bottomright: 7px; -webkit-border-bottom-right-radius: 7px; height: 100%; min-height: 100%; }
* html body.styled #sidebar { overflow-x: hidden; }
body.styled #content { display: inline; float: left; margin-right: 10px; width: 710px; background: white; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
* html body.styled #content { overflow-x: hidden; }
body.styled .nest { padding-top: 3px; padding-bottom: 3px; padding-left: 8px; padding-right: 8px; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
