- page_title "Relative"

%p
  =image_tag @relative.photo.url
%p
  %strong Givenname:
  =h @relative.givenname
%p
  %strong Familyname:
  =h @relative.familyname
%p
  %strong Age:
  =h @relative.age
%p
  %strong Birthdate:
  =h @relative.birthdate.to_date
- unless @relative.student.nil?
  %p
    %strong Student:
    =h @relative.student? ? 'Yes' : 'No'
-unless @relative.occupation.nil? || @relative.occupation == ''
  %p
    %strong Occupation:
    =h @relative.occupation
-unless @relative.employer_or_school.nil? || @relative.employer_or_school == ''
  %p
    %strong Employer Or School:
    =h @relative.employer_or_school
%p
  %strong Description:
  =h @relative.description
%p
  = link_to 'Edit or add information', edit_relative_path(@relative)
  |
  = link_to 'Stop searching for this person', @relative, :confirm => 'Are you sure you want to stop searching for this person?', :method => :delete
  |
  = link_to 'View everyone', relatives_path
