- page_title "Edit User"
%div.help
  %p Make sure that your details are correct.
  %p We will need your updated details in order to successfully contact you when we find the person you are looking for.
= render :partial => 'form'

