#content
  .nest
    %h1 Home#index
    %p Find me in app/views/home/index.html.haml
    .boxes
      %h6 You will probably want to comment out the @include 'partials/color_boxes.sass' after setting the color scheme.
      .boxcol
        .colbox_base
          %h2 Base Colors
        .colbox_lightest_base
          lightest_base
        .colbox_lighter_base
          lighter_base
        .colbox_light_base
          light_base
        .colbox_base
          base
        .colbox_dark_base
          dark_base
        .colbox_darker_base
          darker_base
        .colbox_darkest_base
          darkest_base
      .boxcol
        .colbox_support
          %h2 Support Colors
        .colbox_lightest_support
          lightest_support
        .colbox_lighter_support
          lighter_support
        .colbox_light_support
          light_support
        .colbox_support
          support
        .colbox_dark_support
          dark_support
        .colbox_darker_support
          darker_support
        .colbox_darkest_support
          darkest_support
      .boxcol
        .colbox_accent
          %h2 Accent Colors
        .colbox_lightest_accent
          lightest_accent
        .colbox_lighter_accent
          lighter_accent
        .colbox_light_accent
          light_accent
        .colbox_accent
          accent
        .colbox_dark_accent
          dark_accent
        .colbox_darker_accent
          darker_accent
        .colbox_darkest_accent
          darkest_accent
#sidebar
  .nest
    Default Sidebar (right side)
