!!! XML
!!!
-render :partial => 'common/page_setup'
%html{:xmlns=>'http://www.w3.org/1999/xhtml', :lang => 'en'}
  %head
    %title
      RescueFinder
      -if yield :pagetitle
        :plain
          -
        =yield :pagetitle
    %link{ :rel=>'shortcut icon', :href=>'/favicon.ico', :type=>'image/vnd.microsoft.icon'}
    %link{ :rel=>'icon', :href=>'/favicon.ico', :type=>'image/vnd.microsoft.icon'}
    %meta{ :name=>'description', :content=>'' }
    = stylesheet_link_tag 'screen', 'formtastic', 'formtastic_changes', :cache => 'cache/visual', :media => 'screen, projection'
    = stylesheet_link_tag 'print', :media => 'print'
    /[if IE]
      = stylesheet_link_tag 'ie', :media => 'screen, projection'
  %body.styled
    #container
      #header
        -if yield :usernav
          #usernav
            =yield :usernav
        #identityarea
          .nest
            = image_tag 'help.png', :alt => 'RescueFinder', :title => 'RescueFinder'
            %h2 RescueFinder
      #livearea
        #content
          =yield
        #sidebar
          -if yield :sidebar
            =yield :sidebar
      #footer
        .nest
          %h1 This is the footer area of the default layout
